@import '../../../utils/colors.scss';
@import '../../../utils/fonts.scss';

.Container {
  position: relative;
  width: 85%;
  height: 94%;
}

.Heading {
  font-family: 'Ubuntu Bold', Arial, sans-serif;
  font-size: 28px;
  color: $marine-blue;
  margin: 32px 0 14px 0;
}

.SubHeading {
  font-family: 'Ubuntu Regular', Arial, sans-serif;
  font-size: 18px;
  color: $cool-gray;
  margin: 0 0 32px 0;
}
