@import '../../utils/colors.scss';
@import '../../utils/queries.scss';

.Wrapper {
  background-color: white;
  width: 75%;
  height: 600px;
  border-radius: 20px;
  margin: 10% auto;
  border: 1px solid $marine-blue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 16px;
  gap: 22px;
}

@include for-ipad-portrait {
  .Wrapper {
    width: 52%;
  }
}

@include for-phone {
  .Wrapper {
    position: relative;
    width: 100%;
    height: 170px;
    padding: 0;
    border: none;
    display: block;
    margin: unset;
  }
}
