.Wrapper {
  background-color: white;
  width: 60%;
  height: 600px;
  border-radius: 20px;
  margin: 10% auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 16px;
  gap: 22px;
}

@media (min-width: 1920px) {
  .Wrapper {
    width: 40%;
  }
}
