@import '../../../utils/colors.scss';
@import '../../../utils/queries.scss';

@mixin Button {
  display: inline-block;
  font-family: 'Ubuntu Regular', Arial, sans-serif;
  height: 48px;
  width: 22%;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: capitalize;
}

.Next {
  @include Button;
  background-color: $marine-blue;
  color: $white;

  &:disabled {
    opacity: 0.5;
  }
}

.Back {
  @include Button;
  background-color: transparent;
  color: $cool-gray;
  left: 0;

  &:hover {
    color: $marine-blue;
  }
}

.Confirm {
  @include Button;
  background-color: $purplish-blue;
  color: $white;

  &:disabled {
    opacity: 0.5;
  }
}

@include for-phone {
  .Next,
  .Confirm {
    position: fixed;
    width: 30%;
    right: 20px;
    bottom: 20px;
  }

  .Back {
    position: fixed;
    width: 30%;
    right: 20px;
    bottom: 20px;
  }
}
